@import url('https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/style.css');
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: LXGW WenKai Screen, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
  '微软雅黑', Arial, sans-serif;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
  --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  --color-light: #f3f4f6;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #f9fafb;
  color: #111827;
  padding-bottom: 2rem;
}

.container {
  /* display: grid;
  justify-content: center;
  padding: 0 0.6rem; */
  padding: 0 0.6rem;
  width: 100%;
  max-width: 70ch;
  margin: 0 auto;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }
  :root {
    --color-light: #1f2937;
  }
} */
a {
  color: inherit;
}
