---
import Default from "./Default.astro";

const base = import.meta.env.VITE_BASE;

const author = "Leon.D";
const authorAboutLink = "https://kongfandong.cn/blog/about";
---

<Default>
  <div class="sub-page-nav-top">
    <nav class="sub-page-nav">
      <div class="container">
        <header class="sub-page-header">
          <a href="/">
            <img
              width="36"
              height="36"
              src={`${base}/assets/logo.png`}
              alt="logo"
            />
          </a>
          <a href="/">
            <div class="title">Howdz</div>
          </a>
        </header>
      </div>
    </nav>
    <div class="container">
      <article class="introduce">
        <section class="control">
          <slot />
        </section>
      </article>
      <footer>
        <p style="margin-top:2rem;margin-bottom:0">
          © 2025 <a title="About me" href={authorAboutLink}>{author}</a>
        </p>
      </footer>
    </div>
  </div>
</Default>
