---
const base = import.meta.env.VITE_BASE
---

<h2>🌈 更多</h2>

<ul>
  <li>
    <a href={`${base}/Changelog`} target="_blank">更新日志</a>
  </li>
  <li>
    <a href="https://www.bilibili.com/video/BV1Vu411Z7i1?share_source=copy_web" target="_blank">演示视频</a>
  </li>
  <li>
    <a href="https://github.com/leon-kfd/Dashboard/blob/main/src/components/Axuiliary/FAQ.md" target="_blank">FAQ</a>
  </li>
</ul>
