---
const screenShotList = [
  "https://cdn.kongfandong.cn/howdz-screenshot/screen_shot06.png?imageView2/2/w/1080",
  "https://cdn.kongfandong.cn/howdz-screenshot/screen_shot01.png?imageView2/2/w/1080",
  "https://cdn.kongfandong.cn/howdz-screenshot/screen_shot02.png?imageView2/2/w/1080",
  "https://cdn.kongfandong.cn/howdz-screenshot/screen_shot03.png?imageView2/2/w/1080",
  "https://cdn.kongfandong.cn/howdz-screenshot/screen_shot04.png?imageView2/2/w/1080",
  "https://cdn.kongfandong.cn/howdz-screenshot/screen_shot05.png?imageView2/2/w/1080"
]
---
<h2>⚡ 截图</h2>

<div class="screenshots-box">
  <div class="arrow-left-btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="28"
      height="28"
      ><path fill="none" d="M0 0h24v24H0z"></path><path
        d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z"
      ></path>
    </svg>
  </div>
  <div class="img-container">
    <div class="img-wrapper">
      {
        screenShotList.map(item => {
          return (
            <img class="img-slide" data-src={item} style="display: none"/>
          )
        })
      }
    </div>
  </div>
  <div class="arrow-right-btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="28"
      height="28"
      ><path fill="none" d="M0 0h24v24H0z"></path><path
        d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"
      ></path>
    </svg>
  </div>
</div>

<script>
  const leftBtn = document.querySelector(".arrow-left-btn");
  const rightBtn = document.querySelector(".arrow-right-btn");
  // const img = document.querySelectorAll(".img-slide");
  leftBtn.addEventListener("click", handlePrev);
  rightBtn.addEventListener("click", handleNext);
  let activeIndex = 0;
  let leaveAnimation = null;
  const imgs = Array.prototype.slice.call(document.querySelectorAll('.img-slide'));

  function handlePrev() {
    if (activeIndex === 0) {
      activeIndex = imgs.length - 1;
    } else {
      activeIndex--;
    }
    show();
  }

  function handleNext() {
    if (activeIndex === imgs.length - 1) {
      activeIndex = 0;
    } else {
      activeIndex++;
    }
    show();
  }

  async function show() {
    imgs.map((img, idx) => {
      if (idx === activeIndex) {
        img.style.display = "block";
        img.src = img.dataset.src
      } else {
        img.style.display = "none";
        img.src = ''
      }
    })
    const img = imgs[activeIndex]
    try {
      leaveAnimation = img.animate(
        [
          {
            filter: "blur(20px)",
            tarnsform: "scale(1,1)",
          },
          {
            filter: "blur(60px)",
          },
        ],
        400
      );
      await leaveAnimation.finished;
      img.style.filter = "blur(60px)";
    } catch {
      // cancel
      console.log("cancel");
    }
  }

  show();

  const ImgZoom = HowdyImgZoom.default
  imgs.map((img, idx) => {
    img.addEventListener("load", async () => {
      img.style.opacity = 1;
      if (leaveAnimation) leaveAnimation.cancel();
      const changeAnimation = img.animate(
        [
          {
            filter: "blur(20px)",
            tarnsform: "scale(1,1)",
          },
          {
            filter: "blur(0)",
            tarnsform: "scale(1)",
          },
        ],
        400
      );
      await changeAnimation.finished;
      img.style.filter = "blur(0)";
    });

    const title = `Screen Shot #${idx + 1}`
    new ImgZoom({
      el: img,
      options: {
        title,
        imgSrc: img.dataset.src,
        group: "ScreenShot",
        zoomCursor: true,
        showCloseBtn: true,
      }
    });
  })
</script>
